@model List<PollResponse>
<h1>Polls</h1>

<table class="table w-100 mt persons">
	<thead>
		<tr>
			<th style="width:20%">Title</th>
			<th style="width:10%">Created by</th>
			<th style="width:10%">Is active</th>
			<th style="width:10%">Options</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PollResponse pollResponse in Model)
		{
			<tr>
				<td style="width:10%">@pollResponse.Title</td>
				<td style="width:10%">@pollResponse.CreatedBy</td>
				<td style="width:20%">@pollResponse.IsActive</td>
				<td style="width:20%">
					<a asp-controller="Home" asp-action="Details" asp-route-pollId="@pollResponse.Id">Details</a>
					<a asp-controller="Home" asp-action="Vote" asp-route-personID="@pollResponse.Id">Vote</a>
				</td>
			</tr>
		}
	</tbody>
</table>