@model PollResponse
@{
	ViewBag.Title = "Poll Details";
}

<div class="form-container">
	<a asp-controller="Home" asp-action="Index" class="link-hover">Back to Poll List</a>
	<h2 class="text-large">Create person</h2>
	<form asp-controller="Home" asp-action="VotePoll" method="post">

		@*Title*@
		<div class="form-field flex">
			<div class="w-25">
				<label for="Title" class="form-label pt">Title</label>
			</div>
			<div class="flex-1">
				<div class="flex-1">
					<input asp-for="Title" class="form-input" placeholder="Title" readonly="readonly"/>
					<span asp-validation-for="Title" class="text-red"></span>
				</div>
			</div>
		</div>

		@*EndTime*@
		<div class="form-field flex">
			<div class="w-25">
				<label for="PollEndTime" class="form-label pt">Poll End Time</label>
			</div>
			<div class="flex-1">
				<div class="flex-1">
					<input asp-for="PollEndTime" class="form-input" readonly="readonly" />
					<span asp-validation-for="PollEndTime" class="text-red"></span>
				</div>
			</div>
		</div>

		@*Options*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt">Options</label>
			</div>
			<div class="flex-1">
				<div class="flex-1">
					@foreach (PollOption option in Model.Options)
					{
						<div>
						<label for="@option">@option.OptionText</label>
							@if (option.Voters == null)
							{
								
								<label for="@option">0</label>
							}
							else
							{
							<label for="@option">@option.Voters?.Count()</label>
							}
						</div>
					}
					<span asp-validation-for="Options" class="text-red"></span>
				</div>
			</div>
		</div>

		@*AuthenticatedOnly*@
		<div class="form-field flex">
			<div class="w-25">
			</div>
			<div class="flex-1">
				<div class="flex-1">
					<input asp-for="AuthenticatedOnly" value="true" readonly="readonly"/>
					<label for="AuthenticatedOnly" class="form-label">Authenticated Only</label>
					<span asp-validation-for="AuthenticatedOnly" class="text-red"></span>
				</div>
			</div>
		</div>
	</form>
	@*Comments*@
	<div style="background-color:aquamarine" class="w-50">
		<a asp-controller="Home" asp-action="AddComment" asp-route-pollId="@Model.Id">AddComment</a>
		@foreach (var comment in Model.Comments)
		{
			<div class="comment" style="background-color:azure">
				<p><strong>@comment.CreatedByName</strong> (@comment.CreatedAt): @comment.Content</p>
			</div>
        }
	</div>
</div>
